{% block form_content %}
    {% csrf_token %}
    {% for field in form %}
        {% if form.errors %}
            {% for error in field.errors %}
                <div class="alert alert-error">
                    <small>{{ error|escape }}</small>
                </div>-
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-error">
                    <small>{{ error|escape }}</small>
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}
