{% block form_content %}
    {% csrf_token %}
    {% if form.errors %}
        {% for error in form.non_field_errors %}
        <div class="has-error">
            <p class="help-block">
                {{ error|escape }}
            </p>
        </div>
        {% endfor %}
    {% endif %}
        {% for field in form %}
            <div class="form-group">
                <label>{{ field.label }}</label>

                {{ field }}

                {% if form.errors %}
                    {% for error in field.errors %}
                    <div class="has-warning">
                        <p class="help-block">
                            {{ error|escape }}
                        </p>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
{% endblock %}
