<!-- alert -->
{% if form.errors %}
    {% if form.non_field_errors %}
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>Oh snap!</h4>
            <p>
                {% for error in form.non_field_errors %}
                    {{ error|escape }}
                {% endfor %}
            </p>
        </div>
    {% endif %}
    {% if not form.is_valid %}
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>Warning!</h4>
            <p>
                {% for field in form %}
                    {% for error in field.errors %}
                        {{ error|escape }}
                    {% endfor %}
                {% endfor %}
            </p>
        </div>
    {% endif %}
{% endif %}

{% if form.is_valid %}
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>Success!</h4>
    </div>
{% endif %}
