{% load staticfiles %}

<!-- header -->
<nav>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                {% if request.user.is_admin %}
                    <a href="{% url 'management:admin' %}" class="navbar-brand">Education Management System</a>
                {% else %}
                    <a href="{% url 'management:home' %}" class="navbar-brand">Education Management System</a>
                {% endif %}
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    {% if request.user.is_admin %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Manage Students<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'management:admin' %}">View</a></li>
                                <li><a href="{% url 'management:add' %}">Add</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{% url 'management:home' %}">My Information</a></li>
                    {% endif %}
                    <li>
                        <a href="#">Help</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'accounts:view' %}">Account</a></li>
                    <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- endheader -->
